body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  color: #222;
  line-height: 1.6;
}

header {
  background-image: url('fas.png'); /* Cseréld ki pontos URL-re */
  background-size: cover;
  background-position: center;
  color: white;
  padding: 7px 1px;
  text-align: center;
  border-bottom: 5px solid #098f26a0;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header p {
  font-style: italic;
  margin-top: 8px;
}

nav {
  background-color: #025f14;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: white;
  padding: 14px 20px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #004488;
}

section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

section h2 {
  color: #064602;
  margin-top: 0;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 8px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

.subheading {
  font-weight: bold;
  margin-top: 25px;
  color: #025f14;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #025522fe;
  color: white;
  margin-top: 60px;
  font-size: 14px;
}
